[submodule "mod/simplecertificate"]
	path = mod/simplecertificate
	url = https://github.com/bozoh/moodle-mod_simplecertificate.git
	branch = master
[submodule "blocks/simple_certificate"]
	path = blocks/simple_certificate
	url = https://github.com/bozoh/moodle-block_simple_certificate.git
	branch = master
